{% extends "base.html" %}
{% load static %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static "blog/includes/header.css" %}">
    <link rel="stylesheet" href="{% static "blog/all_posts.css" %}">
{% endblock  %}

{% block page_title %} All Posts {% endblock page_title %}

{% block content %}
    {% include "blog/includes/header.html" %}
    <ul> 
        {% for blog_item in all_blogs %}
            <li> <a href={% url "blog-post" blog_item.title%}>{{ blog_item.title }} </a></li>
        {% endfor %}
    </ul>
{% endblock content %}