{% extends "base.html" %}
{% load static %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static "blog/includes/header.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock  %}

{% block page_title %} Dan's Blog {% endblock page_title %}

{% block content %}
    {% include "blog/includes/header.html" %}
    <div>
        <h1> Dans Blog </h1>
        <img src="{% static "blog/welcome.jpg" %}">
    </div>
    <ul> 
        {% for blog_item in first_three %}
            <li> <h2><a href={% url "blog-post" blog_item.title %}>{{ blog_item.title }} </a></h2>
                <p>{{ blog_item.blog_text | truncatewords:4 }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}