{% extends "base.html" %}
{% load static %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static "blog/includes/header.css" %}">
{% endblock  %}

{% block page_title %} {{ blogpost.title }} {% endblock page_title %}

{% block content %}
    {% include "blog/includes/header.html" %}
    <h1> {{ blogpost.conten }} </h1> 
    <img src="{{ blogpost.image.url }}"/> 
    <p> {{ blogpost.blog_text }} </p>
    <small>{{ blogpost.author.first_name }} {{blogpost.author.last_name}} </small>
    <p><small>{{ blogpost.date}} </small></p>
{% endblock content %}